<div class="row">
  <div class="col-sm-12">
    <!-- <p-dataTable [value]="parametros" [rows]="15" [pageLinks]="3">
      <p-column field="identificacion" header="Identificacion"></p-column>
      <p-column field="primerNombre" header="Primer nombre"></p-column>
      <p-column field="segundoNombre" header="Segundo nombre"></p-column>
      <p-column field="accion" header="Acci&#243;n"></p-column>
    </p-dataTable> -->
  </div>
</div>
